<a href="https://colab.research.google.com/github/klaxman23/August_pratice/blob/main/Module_5_Case_Study_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Domain –HR
focus – Insights from data
Business challenge/requirement
SFO Public Department - referred to as SFO has captured all the salary data of its
employees from the year 2011-2014. Now we are in the year 2015 and the
organization is facing a financial crisis. As the first step HR wants to rationalize
employee costs to save the payroll budget. You have to do data manipulation and
analysis on the salary data to answer specific questions for cost savings.
Key issues
Cost can be saved by figuring out the key pockets of high salaries
Considerations
NONE
Data volume
- Approx 150K records across files
additional information
- NA
Business benefits
Save at least 10% of employee costs by identifying and letting them go
Approach to Solve
You have to use the fundamentals of Pandas covered in module 6 and answer the
following 5 Questions

1. Compute how much total salary cost has increased from the year 2011 to 2014
2. Which Job Title in the Year 2014 has the highest mean salary?
3. How much money could have been saved in the Year 2014 by stopping
OverTimePay?
4. Which are the top 5 common jobs in the Year 2014 and how much do they cost
SFO?
5. Who was the top earning employee across all the years?
Enhancements for code
You can try these enhancements in code
1. Which are the last 5 common jobs in the Year 2014 and how much do they cost
SFO?
2. In year 201 OverTimePay was what percentage of TotalPayBenefits
3. Which Job Title in the Year 2014 has the lowest mean salary?

In [ ]:
import pandas as pd

df = pd.read_csv("SFO_Salaries_2011_2014.csv")

increase = (
    df[df["Year"] == 2014]["TotalPayBenefits"].sum()
    - df[df["Year"] == 2011]["TotalPayBenefits"].sum()
)

print("Total salary cost increase from 2011 to 2014:", increase)

Which Job Title in the Year 2014 has the highest mean salary?

In [ ]:
result = (
    df[df["Year"] == 2014]
    .groupby("JobTitle")["TotalPayBenefits"]
    .mean()
)

print(result)
print("\nHighest Mean Salary Job:", result.idxmax())

3.How much money could have been saved in the Year 2014 by stopping OverTimePay?

In [ ]:
savings = df[df["Year"] == 2014]["OvertimePay"].sum()

print("Money saved by stopping OverTimePay in 2014:", savings)

4. Which are the top 5 common jobs in the Year 2014 and how much do they cost SFO?

In [ ]:
top_jobs_cost = (
    df[df["Year"] == 2014]
    .groupby("JobTitle")["TotalPayBenefits"]
    .sum()
    .sort_values(ascending=False)
    .head(5)
)

print(top_jobs_cost)

5. Who was the top earning employee across all the years? Enhancements for code You can try these enhancements in code

In [ ]:
top_employee = (
    df.groupby("EmployeeName")["TotalPayBenefits"]
    .sum()
    .idxmax()
)

top_salary = (
    df.groupby("EmployeeName")["TotalPayBenefits"]
    .sum()
    .max()
)

print("Top earning employee:", top_employee)
print("Total earnings:", top_salary)

6. Which are the last 5 common jobs in the Year 2014 and how much do they cost SFO?

In [ ]:
last_jobs_cost = (
    df[df["Year"] == 2014]
    .groupby("JobTitle")["TotalPayBenefits"]
    .sum()
    .sort_values()
    .head(5)
)

print(last_jobs_cost)

7. In year 201 OverTimePay was what percentage of TotalPayBenefits

In [ ]:
last_jobs_cost = (
    df[df["Year"] == 2014]
    .groupby("JobTitle")["TotalPayBenefits"]
    .sum()
    .sort_values()
    .head(5)
)

print(last_jobs_cost)

8. Which Job Title in the Year 2014 has the lowest mean salary?

In [ ]:
lowest_mean_job = (
    df[df["Year"] == 2014]
    .groupby("JobTitle")["TotalPayBenefits"]
    .mean()
)

print(lowest_mean_job)
print("\nLowest mean salary job (2014):", lowest_mean_job.idxmin())