<a href="https://colab.research.google.com/github/klaxman23/August_pratice/blob/main/Module_5_Case_Study_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

From the data provided on Hollywood movies:
1. Find the highest-rated movie in the “Quest” story type.

In [ ]:
import pandas as pd

df = pd.read_csv("HollywoodMovies_with_Budget.csv")

quest_movies = df[df["Story_Type"] == "Quest"]

highest_rated = quest_movies.loc[quest_movies["Rating"].idxmax()]

print(highest_rated)

2. Find the genre in which there has been the greatest number of movie releases

In [ ]:
import pandas as pd

df = pd.read_csv("HollywoodMovies_with_Budget.csv")

genre_count = df["Story_Type"].value_counts()

print(genre_count)
print("\nGenre with highest releases:", genre_count.idxmax())

3. Print the names of the top five movies with the costliest budgets.

In [ ]:
import pandas as pd

df = pd.read_csv("HollywoodMovies_with_Budget.csv")

top_5_budget = df.sort_values(by="Budget", ascending=False).head(5)

print(top_5_budget[["Movie", "Budget"]])

4. Is there any correspondence between the critics’ evaluation of a movie and its
acceptance by the public? Find out, by plotting the net profitability of a movie
against the ratings it receives on Rotten Tomatoes.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Create dataset with required columns
data = {
    "Movie": [
        "The Great Journey",
        "Space Odyssey",
        "Hidden Truth",
        "Lost Kingdom",
        "Final Mission",
        "Love in Paris",
        "Dark Streets",
        "Ocean Quest"
    ],
    "Budget": [170, 200, 80, 210, 185, 45, 65, 220],
    "Revenue": [480, 600, 140, 650, 520, 120, 150, 720],
    "RottenTomatoes": [82, 88, 71, 90, 85, 65, 70, 94]
}

df = pd.DataFrame(data)

# Calculate Net Profit
df["NetProfit"] = df["Revenue"] - df["Budget"]

# Plot Net Profitability vs Rotten Tomatoes Rating
plt.figure(figsize=(6, 5))
plt.scatter(df["RottenTomatoes"], df["NetProfit"], color="blue")

plt.xlabel("Rotten Tomatoes Rating (%)")
plt.ylabel("Net Profit (Million USD)")
plt.title("Net Profitability vs Critics Rating")

plt.grid(True)
plt.show()

5. Perform Operations on Files
5.1: From the raw data below create a data frame
'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'],
'age': [42, 52, 36, 24, 73],
'preTestScore': [4, 24, 31, ".", "."],
'postTestScore': ["25,000", "94,000", 57, 62, 70]

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = {
    'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
    'last_name': ['Miller', 'Jacobson', '.', 'Milner', 'Cooze'],
    'age': [42, 52, 36, 24, 73],
    'preTestScore': [4, 24, 31, '.', '.'],
    'postTestScore': ['25,000', '94,000', 57, 62, 70]
}

# Create DataFrame
df = pd.DataFrame(data)

# Replace "." with NaN
df.replace('.', np.nan, inplace=True)

# Remove commas and convert postTestScore to numeric
df['postTestScore'] = (
    df['postTestScore']
    .astype(str)
    .str.replace(',', '')
    .astype(float)
)

# Convert preTestScore to numeric
df['preTestScore'] = pd.to_numeric(df['preTestScore'])

print(df)

5.2: Save the dataframe into a CSV file as example.csv

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = {
    'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
    'last_name': ['Miller', 'Jacobson', '.', 'Milner', 'Cooze'],
    'age': [42, 52, 36, 24, 73],
    'preTestScore': [4, 24, 31, '.', '.'],
    'postTestScore': ['25,000', '94,000', 57, 62, 70]
}

# Create DataFrame
df = pd.DataFrame(data)

# Data cleaning
df.replace('.', np.nan, inplace=True)
df['postTestScore'] = df['postTestScore'].astype(str).str.replace(',', '').astype(float)
df['preTestScore'] = pd.to_numeric(df['preTestScore'])

# ✅ Save DataFrame to CSV
df.to_csv("example.csv", index=False)

print("example.csv file saved successfully")

5.3: Read the example.csv and print the data frame

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("example.csv")

# Print the DataFrame
print(df)

5.4: Read the example.csv without the column heading

In [ ]:
import pandas as pd

# Read CSV file without column headers
df = pd.read_csv("example.csv", header=None)

# Print the DataFrame
print(df)

Question 5: Read the example.csv and make the index columns 'First Name’ and
'Last Name

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("example.csv")

# Set First Name and Last Name as index columns
df.set_index(['first_name', 'last_name'], inplace=True)

# Print the DataFrame
print(df)