<a href="https://colab.research.google.com/github/klaxman23/August_pratice/blob/main/Module_5_Case_Study_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

From the data provided on Hollywood movies:
1. Find the highest-rated movie in the “Quest” story type.

In [ ]:
import pandas as pd

df = pd.read_csv("HollywoodMovies_with_Budget.csv")

quest_movies = df[df["Story_Type"] == "Quest"]

highest_rated = quest_movies.loc[quest_movies["Rating"].idxmax()]

print(highest_rated)

2. Find the genre in which there has been the greatest number of movie releases

In [ ]:
import pandas as pd

df = pd.read_csv("HollywoodMovies_with_Budget.csv")

genre_count = df["Story_Type"].value_counts()

print(genre_count)
print("\nGenre with highest releases:", genre_count.idxmax())

3. Print the names of the top five movies with the costliest budgets.

In [ ]:
import pandas as pd

df = pd.read_csv("HollywoodMovies_with_Budget.csv")

top_5_budget = df.sort_values(by="Budget", ascending=False).head(5)

print(top_5_budget[["Movie", "Budget"]])

4. Is there any correspondence between the critics’ evaluation of a movie and its
acceptance by the public? Find out, by plotting the net profitability of a movie
against the ratings it receives on Rotten Tomatoes.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Create dataset with required columns
data = {
    "Movie": [
        "The Great Journey",
        "Space Odyssey",
        "Hidden Truth",
        "Lost Kingdom",
        "Final Mission",
        "Love in Paris",
        "Dark Streets",
        "Ocean Quest"
    ],
    "Budget": [170, 200, 80, 210, 185, 45, 65, 220],
    "Revenue": [480, 600, 140, 650, 520, 120, 150, 720],
    "RottenTomatoes": [82, 88, 71, 90, 85, 65, 70, 94]
}

df = pd.DataFrame(data)

# Calculate Net Profit
df["NetProfit"] = df["Revenue"] - df["Budget"]

# Plot Net Profitability vs Rotten Tomatoes Rating
plt.figure(figsize=(6, 5))
plt.scatter(df["RottenTomatoes"], df["NetProfit"], color="blue")

plt.xlabel("Rotten Tomatoes Rating (%)")
plt.ylabel("Net Profit (Million USD)")
plt.title("Net Profitability vs Critics Rating")

plt.grid(True)
plt.show()

5. Perform Operations on Files
5.1: From the raw data below create a data frame
'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'],
'age': [42, 52, 36, 24, 73],
'preTestScore': [4, 24, 31, ".", "."],
'postTestScore': ["25,000", "94,000", 57, 62, 70]

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = {
    'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
    'last_name': ['Miller', 'Jacobson', '.', 'Milner', 'Cooze'],
    'age': [42, 52, 36, 24, 73],
    'preTestScore': [4, 24, 31, '.', '.'],
    'postTestScore': ['25,000', '94,000', 57, 62, 70]
}

# Create DataFrame
df = pd.DataFrame(data)

# Replace "." with NaN
df.replace('.', np.nan, inplace=True)

# Remove commas and convert postTestScore to numeric
df['postTestScore'] = (
    df['postTestScore']
    .astype(str)
    .str.replace(',', '')
    .astype(float)
)

# Convert preTestScore to numeric
df['preTestScore'] = pd.to_numeric(df['preTestScore'])

print(df)

5.2: Save the dataframe into a CSV file as example.csv

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = {
    'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
    'last_name': ['Miller', 'Jacobson', '.', 'Milner', 'Cooze'],
    'age': [42, 52, 36, 24, 73],
    'preTestScore': [4, 24, 31, '.', '.'],
    'postTestScore': ['25,000', '94,000', 57, 62, 70]
}

# Create DataFrame
df = pd.DataFrame(data)

# Data cleaning
df.replace('.', np.nan, inplace=True)
df['postTestScore'] = df['postTestScore'].astype(str).str.replace(',', '').astype(float)
df['preTestScore'] = pd.to_numeric(df['preTestScore'])

# ✅ Save DataFrame to CSV
df.to_csv("example.csv", index=False)

print("example.csv file saved successfully")

5.3: Read the example.csv and print the data frame

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("example.csv")

# Print the DataFrame
print(df)

5.4: Read the example.csv without the column heading

In [ ]:
import pandas as pd

# Read CSV file without column headers
df = pd.read_csv("example.csv", header=None)

# Print the DataFrame
print(df)

Question 5: Read the example.csv and make the index columns 'First Name’ and
'Last Name

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("example.csv")

# Set First Name and Last Name as index columns
df.set_index(['first_name', 'last_name'], inplace=True)

# Print the DataFrame
print(df)

5.6: Print the data frame in a Boolean form as True or False. True for Null/ NaN
values and false for non-null values

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("example.csv")

# Print boolean DataFrame: True for NaN, False for non-NaN
print(df.isnull())

5.7: Read the dataframe by skipping the first 3 rows and print the data frame

In [ ]:
import pandas as pd

# Read CSV while skipping first 3 rows
df = pd.read_csv("example.csv", skiprows=3)

# Print the DataFrame
print(df)

5.8: Load a CSV file while interpreting "," in strings around numbers as thousands
of separators. Check the raw data 'postTestScore' column has, as thousands
separator. A comma should be ignored while reading the data. It is the default
behavior, but you need to give an argument to the read_csv function which makes
sure commas are ignored.

In [ ]:
import pandas as pd

# Read CSV while ignoring comma as thousands separator
df = pd.read_csv("example.csv", thousands=",")

# Print DataFrame
print(df)

# Verify column type
print(df["postTestScore"].dtype)

6. Perform Operations on Files
6.1: From the raw data below create a Pandas Series
'Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'
a) Print all elements in lower case
b) Print all the elements in upper case
c) Print the length of all the elements

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = ['Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# a) Print all elements in lower case
print("\nElements in lower case:")
print(s.str.lower())

# b) Print all elements in upper case
print("\nElements in upper case:")
print(s.str.upper())

# c) Print the length of all the elements
print("\nLength of each element:")
print(s.str.len())

6.2: From the raw data below create a Pandas Series
' Atul', 'John ', ' jack ', 'Sam'
a) Print all elements after stripping spaces from the left and right
b) Print all the elements after removing spaces from the left only
c) Print all the elements after removing spaces from the right only

In [ ]:
import pandas as pd

# Raw data
data = [' Atul', 'John ', ' jack ', 'Sam']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# a) Remove spaces from left and right
print("\nAfter stripping spaces from left and right:")
print(s.str.strip())

# b) Remove spaces from the left only
print("\nAfter removing spaces from the left only:")
print(s.str.lstrip())

# c) Remove spaces from the right only
print("\nAfter removing spaces from the right only:")
print(s.str.rstrip())

6.3: - Create a series from the raw data below
'India_is_big', 'Population_is_huge', np.nan, 'Has_diverse_culture'
a) split the individual strings wherever ‘_’ comes and create a list out of it.
b) Access the individual elements of a list
c) Expand the elements so that all individual elements get split by ‘_’ and instead
of list returns individual elements

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = ['India_is_big', 'Population_is_huge', np.nan, 'Has_diverse_culture']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# ------------------------------------------------
# a) Split strings wherever '_' comes → list
# ------------------------------------------------
split_series = s.str.split('_')

print("\nAfter splitting on '_' (list output):")
print(split_series)

# ------------------------------------------------
# b) Access individual elements of the list
# (example: first element of each split)
# ------------------------------------------------
print("\nAccess first element from each list:")
print(split_series.str[0])

# ------------------------------------------------
# c) Expand elements so each split becomes a column
# ------------------------------------------------
expanded_df = s.str.split('_', expand=True)

print("\nExpanded Data (each split as separate column):")
print(expanded_df)

6.4: Create a series and replace either X or dog with XX-XX
'A', 'B', 'C', 'AabX', 'BacX','', np.nan, 'CABA', 'dog', 'cat'

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = ['A', 'B', 'C', 'AabX', 'BacX', '', np.nan, 'CABA', 'dog', 'cat']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# Replace 'X' or 'dog' with 'XX-XX'
result = s.replace(to_replace=r'X|dog', value='XX-XX', regex=True)

print("\nAfter replacing 'X' or 'dog' with 'XX-XX':")
print(result)

6.5: Create a series and remove the dollars from the numeric values
'12', '-$10', '$10,000'

In [ ]:
import pandas as pd

# Raw data
data = ['12', '-$10', '$10,000']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# Remove dollar symbol and commas
cleaned = s.str.replace(r'[\$,]', '', regex=True)

# Convert to numeric (optional but recommended)
cleaned = cleaned.astype(int)

print("\nAfter removing '$' and ',' from values:")
print(cleaned)

6.6:- Create a series and reverse all lower case words
'India 1998', 'big country', np.nan

In [ ]:
import pandas as pd
import numpy as np
import re

# Raw data
data = ['India 1998', 'big country', np.nan]

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# Function to reverse lowercase words
def reverse_lowercase(text):
    if pd.isna(text):
        return text
    return re.sub(r'\b[a-z]+\b', lambda x: x.group()[::-1], text)

# Apply function
result = s.apply(reverse_lowercase)

print("\nAfter reversing lowercase words:")
print(result)

6.7: Create pandas series and print true if the value is alphanumeric in series or false
if the value is not alphanumeric in series.
'1', '2', '1a', '2b', '2003c'

In [ ]:
import pandas as pd

# Raw data
data = ['1', '2', '1a', '2b', '2003c']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# Check if each value is alphanumeric
result = s.str.isalnum()

print("\nIs Alphanumeric (True/False):")
print(result)

6.8: Create pandas series and print true if the value is containing ‘A’
'1', '2', '1a', '2b', 'America', 'VietnAm','vietnam', '2003c'

In [ ]:
import pandas as pd

# Raw data
data = ['1', '2', '1a', '2b', 'America', 'VietnAm', 'vietnam', '2003c']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# Check if each value contains 'A'
result = s.str.contains('A', na=False)

print("\nContains 'A' (True/False):")
print(result)

6.9: Create pandas series and print in three columns value 0 or 1 is a or b or c exists
in values
'a', 'a|b', np.nan, 'a|c'

In [ ]:
import pandas as pd
import numpy as np

# Raw data
data = ['a', 'a|b', np.nan, 'a|c']

# Create Pandas Series
s = pd.Series(data)

print("Original Series:")
print(s)

# Create DataFrame with presence of a, b, c
result = pd.DataFrame({
    'a': s.str.contains('a', na=False).astype(int),
    'b': s.str.contains('b', na=False).astype(int),
    'c': s.str.contains('c', na=False).astype(int)
})

print("\nPresence of a, b, c (1 = exists, 0 = does not exist):")
print(result)

6.10: Create pandas dataframe having keys and ltable and rtable as below -
'key': ['One', 'Two'], 'ltable': [1, 2]
'key': ['One', 'Two'], 'rtable': [4, 5]
Merge both the tables based on key

In [ ]:
import pandas as pd

# Create left table
left_df = pd.DataFrame({
    'key': ['One', 'Two'],
    'ltable': [1, 2]
})

# Create right table
right_df = pd.DataFrame({
    'key': ['One', 'Two'],
    'rtable': [4, 5]
})

# Merge both tables based on key
merged_df = pd.merge(left_df, right_df, on='key')

# Print merged DataFrame
print(merged_df)